<nav class="navbar navbar-fixed-top bg-inverse">
  <div>
    <!-- Display logo -->
    <a class="navbar-brand"><img src="./assets/1150LogoWhite.png" height ='40'></a>

    <!-- If the user is an admin, show a dropdown "Calendars" that has an Add Calendar button, and shows the whole calendars array -->
    <ul class="nav navbar-nav pull-left" *ngIf="isAdmin">
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calendars <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" *ngFor="let calendar of arrayOfCalendars" (click)="selectCalender($event)">{{calendar.title}}</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add Calendar</a></li>
        </ul>
      </li>
    </ul>

    <!-- If the user is NOT an admin, show a dropdown "Assigned Calendars" that populates the filtered calendars array -->
    <ul class="nav navbar-nav pull-left" *ngIf="!isAdmin">
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assigned Calendars <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" *ngFor="let calendar of arrayOfCalendars" (click)="selectCalender($event)">{{calendar.title}}</a></li>
        </ul>
      </li>
    </ul>

    <div id='helpContainer' (mouseenter)='showHelp()' (mouseleave)='hideHelp()'>
      <p class="nav navbar-nav pull-right" style="padding: 0.6%">
        <span class='glyphicon glyphicon-question-sign' id='help'></span>
      </p>
    </div>
    <!-- Display the current user's username, clicking this will log them out -->
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item" (click)="signout()"><a href="#">Logged in as <em>{{navbarUsername}}</em>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Logout</a></li>
    </ul>

    <div *ngIf="help" id='toolTip'>
      <p><span class='glyphicon glyphicon-stop' id='red'></span> is an Assignment</p>
      <p><span class='glyphicon glyphicon-stop' id='blue'></span> is a Topic</p>
      <p><span class='glyphicon glyphicon-stop' id='green'></span> is a Workshop</p>
      <hr/>
      <p>Ctrl+click or cmd+click to</p>
      <p>complete events</p>
    </div>

  </div>
</nav>


<!-- When an admin clicks Add Calendar, this modal will appear with a prompt to enter the new calendar's name -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Calendar</h4>
      </div>

      <div class="modal-body">
        <label for="newCalendarTitleInput">New calendar's title will be: </label>
        <input type="text" id="newCalendarTitleInput" [(ngModel)]="newCalendarTitle">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="createNewCalendar()">Create</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
