a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #971d23;
}

nav {
  background-color: #971d23;
  font-size: 20px;
}

.navbar-brand {
  margin-top: -5px;
  padding-right: 15px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
      color:#971d23 !important;
}
