<div class="studentForm">

  <!-- Header identifying we're on the Student Management tab -->
  <h4>Create Student</h4>

  <!-- Form with single field to add a username. -->
  <input id="username" type="text" placeholder="New Username" (keydown.enter)="addStudent()" [(ngModel)]="newStudentUsername">
  <br>
  <br>
  <!-- This button submits the form, and calls the function addStudent() -->
  <button id="addStudent" type="submit" (click)="addStudent()" class="btn">Add Student</button>

  <!-- Students currently assigned to the calendar appear here -->
  <!-- STYLE THIS FEATURE -->
  <br>
  <br>
  <ul id="studentArray">
    <li *ngFor="let student of arrayOfStudentsOnThisCalendar">{{student}}</li>
  </ul>

</div>



<!-- Output of flash messages -->
<flash-messages></flash-messages>
