.container {
  margin-top: -60px;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #78171c;
}

#background-logo {
  position: absolute;
  height: 80vh;
  opacity: 0.4;
  left: 0;
  margin: 5vh;
}


#loginDiv {
  display: inline-block;
  margin-top: 25vh;
  padding-top: 5vh;
  width: 350px;
  height: 250px;
  border: 0px solid white;
  border-radius: 15px;
  background-color: white;
  z-index: 1;
}
#loginUsername {
 width: 300px;
 margin: 0 auto;
}
#loginPassword {
 width: 300px;
 margin: 0 auto;
}
#login-btn {
  width: 70px;
}


#signupDiv {
  display: inline-block;
  margin-top: 25vh;
  padding-top: 5vh;
  width: 350px;
  height: 250px;
  border: 0px solid white;
  border-radius: 15px;
  background-color: white;
  z-index: 1;
}
#signupUsername {
 width: 300px;
 margin: 0 auto;
}
#signupPassword {
 width: 300px;
 margin: 0 auto;
}
#signup-btn {
  width: 70px;
}

