.container {
  margin-top: -60px;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #78171c;
}

#background-logo {
  position: absolute;
  height: 80vh;
  opacity: 0.4;
  left: 0;
  margin: 5vh;
}

#formContainer {
  margin-top: 25vh;
}

#loginSignup {
  position: relative;
  display: inline-block;
  margin-top: 0px;
  padding-top: 5vh;
  width: 350px;
  height: 400px;
  border: 1px solid #971d23;
  background-color: white;
  z-index: 1;
}

#fakeTabs {
  border-bottom: .5px solid #ddd;
  text-align: center;
}

#loginButton {
  color: white;
  background-color: #971d23;
  border-radius: 0 !important;
  border-bottom: none !important;
  border-color: #ddd !important;
  width: 70px;
}

#signupButton {
  color: #971d23;
  background-color: white;
  border-radius: 0 !important;
  border-bottom: white !important;
  border-color: #ddd !important;
}

#loginUsername {
 width: 300px;
 margin: 0 auto;
}

#loginPassword {
 width: 300px;
 margin: 0 auto;
}

#login-btn {
  width: 70px;
}

#signupUsername {
 width: 300px;
 margin: 0 auto;
}

#signupPassword {
 width: 300px;
 margin: 0 auto;
}

#signupPasswordConfirm {
 width: 300px;
 margin: 0 auto;
}

#signup-btn {
  width: 70px;
}

.fakeTabs input[type=radio] {
   display: none;
}

.fakeTabs label {
  border: 1px solid #971d23;
  background-color: rgb(245,245,245);
  color: #971d23;
  padding: 2px 16px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  margin-bottom: -1px;
}

.fakeTabs input:checked + label, .fakeTabs label.selected {
    background-color: white;
    border-bottom: 1px solid white;
  z-index: 3;
}

.fakeTabs input:checked + label {
  background-color:white;
  border-bottom: 1px solid white;
  z-index: 3;
}
