<div class="container">
  <img id="background-logo" src="./assets/efalogo.png" />
  <div id="loginDiv">
    <h5><strong>HAJ CASINO - Login</strong></h5>
    <input class="form-control" id="loginUsername" type="text" placeholder="Username" (keydown.enter)="onLogin()" [(ngModel)]="loginModel.username">
    <p *ngIf="loginErrors.username" class="validation">{{loginErrors.username}}</p>
    <br>
    <input class="form-control" id="loginPassword" type="password" placeholder="Password" (keydown.enter)="onLogin()" [(ngModel)]="loginModel.pass">
    <p *ngIf="loginErrors.pass" class="validation">{{loginErrors.pass}}</p>
    <br>
    <button id="login-btn" class="btn btn-primary" (click)="onLogin()">Login</button>
  </div>
</div>


<div class="container">
  <img id="background-logo" src="./assets/efalogo.png" />
  <div id="signupDiv">
    <h5><strong>HAJ CASINO - Signup</strong></h5>
    <input class="form-control" id="signupUsername" type="text" placeholder="Username" (keydown.enter)="onSignup()" [(ngModel)]="signupModel.username">
    <p *ngIf="signupErrors.username" class="validation">{{signupErrors.username}}</p>
    <br>
    <input class="form-control" id="signupPassword" type="password" placeholder="Password" (keydown.enter)="onSignup()" [(ngModel)]="signupModel.pass">
    <p *ngIf="signupErrors.pass" class="validation">{{signupErrors.pass}}</p>
    <br>
    <button id="signup-btn" class="btn btn-primary" (click)="onSignup()">Signup</button>
  </div>
</div>
