#buttons {
  padding-top: 15px;
  padding-right: 10px;
  text-align: right;
}


 .formContainer{
  height: 40em;
  display:block;
}

.formContent{
  height: 40em;
  padding-top: 20px;
  background-color: rgb(226, 74, 82);
  border: 1px solid white;
}

#content{
  margin-top: -9px;
  background-color: rgba(20,23,33,0.8);
  height: 100%;
  display: block;
  width: 100%;
}

.calendarContainer{
  background-color: white;
}

.hideThis{
  display: none;
}
.showThis{
  display: inline;
}

.fakeTabs input[type=radio] {
   display: none;
}
.fakeTabs label {
  border: 1px solid white;
  background-color: #c3333a;
  color: white;
  padding: 2px 5px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-bottom: -1px;
}
  .fakeTabs input:checked + label, .fakeTabs label.selected {
  color:white;
  background-color: rgb(226, 74, 82);
  border: 1px solid white;
  border-bottom: 1px solid rgb(226, 74, 82);
  z-index: 3;
}

.fakeTabs input:checked + label {
 border: 1px solid white;
  border-bottom: 1px solid rgb(226, 74, 82);
  z-index: 3;
}
