<!-- Display the navbar -->
<!-- On the changeCalendar event firing, call the loadEvents function -->
<app-navbar (changeCalendar)="loadEvents()"></app-navbar>


<div id="content" class="container">

  <!-- Sidebar  -->
  <div id="tabs" class="col-xs-2 formContainer">

    <!-- Buttons (styled to appear as tabs) to switch between the student management tab and the event management tab -->
    <div id="buttons" class="fakeTabs" *ngIf="es.currentCalender !== null">
      <input type="radio" name="tab" id="Students" (click)="showStudentForm()" value="Students">
      <label for="Students" id="studentsTabLabel">Students</label>
      <input type="radio" name="tab" id="Events" (click)="showEventForm()" value="Events" checked>
      <label for="Events">Events</label>
    </div>

    <!-- The actual student management and event management components. Which is shown is controlled by the buttons/tabs above -->
    <div *ngIf="es.currentCalender !== null" class="formContent">
      <app-event-form #eventForm [class]='hideShowEvent' (clickSubmit)="addOrEditEvents($event)" id='event'></app-event-form>
      <app-student-management #studentManagement [class]='hideShowStudent' id='student'></app-student-management>
    </div>

  </div>

  <!-- Main calendar display area -->
  <div class="col-xs-9 calendarContainer">
    <app-class-calendar #classCalendar (eventEdit)="alertEventForm($event)"></app-class-calendar>
  </div>

</div>
