#eventType{
  height: 26px;
  width: 175px;
  margin: auto;
  margin-bottom: 5px;
  display: block;
}

#eventName{
  margin: auto;
  display: block;
  width: 175px;
  margin-bottom: 5px;
}

#addEvent{
  margin: auto;
  margin-top: 0px;
  width: 65px;
  background-color: #971d23;
  border-color: #ddd;
}

#deleteEvent{
  background-color: #971d23;
  border-color: #ddd;
}

#eventLink{
  margin: auto;
  margin-top: 0px;
  display: block;
  width: 175px;
  margin-bottom: 5px;
}

#eventDate{
  margin: auto;
  margin-top: 0px;
  display: block;
  width: 175px;
  margin-bottom: 5px;
}

.eventForm{
  text-align: center;
}

.backButton{
  border: none;
  background-color: white;
}
