<div class="container eventForm">
<h4>Create Event</h4>
<form  (ngSubmit)='addEvent()'>
  <input id="eventName" name='eventName' type='text' placeholder="Event Name" [(ngModel)]='eventName' required>
  <select id='eventType' name="eventType" [(ngModel)]='eventType'>
    <option selected disabled>Event Type</option>
    <option value="assignment">Assignment</option>
    <option value='topic'>Topic</option>
    <option value='workshop'>Workshop</option>
</select>
  <input id="eventDate" type="date" name="eventDate" [(ngModel)]='eventDate'>
  <button id="addEvent"type="submit" class='btn btn-success'>Add</button>
</form>
</div>
