#eventType{
  height: 26px;
  width: 175px;
  margin: auto;
  margin-bottom: 5px;
  display: block;
}

#eventName{
  margin: auto;
  display: block;
  width: 175px;
  margin-bottom: 5px;
}

#addEvent{
  margin: auto;
  margin-top: 0px;
  width: 65px;
  background-color: white;
  border-color: #ddd;
  color: rgb(226, 74, 82);
}

#deleteEvent{
  background-color: white;
  border-color: #ddd;
  color: rgb(226, 74, 82);
}

#eventLink{
  margin: auto;
  margin-top: 0px;
  display: block;
  width: 175px;
  margin-bottom: 5px;
}

#eventDate{
  margin: auto;
  margin-top: 0px;
  display: block;
  width: 175px;
  margin-bottom: 5px;
}

.eventForm{
  text-align: center;
    height:100%;
}

.backButton{
  border: none;
  color: white;
  background-color: rgb(226, 74, 82);
}
h4{
  color: white;
}

#testBox{
  margin: auto;
  margin-top: 20px;
  height: 250px;
  width: 220px;
  background-color: white;
}
